<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li{% if page == "live" %} class="active"{% endif %}>
              <a href="/live">Live</a>
            </li>
            <li{% if page == "images" %} class="active"{% endif %}><a href="/images">Popular Images</a></li>
          </ul>
        </div>

